<footer>
  <div layout="row" layout-align="space-around"
       layout-padding flex-offset="10" flex="80">
    <div flex="30">
      <h3 class="md-title">Tentang Sinergi Tani</h3>
      <p>
        <strong>Sinergi Tani </strong>
        adalah sebuah platform penggalangan dana untuk membantu petani-petani di indonesia yang menghadapi masalah pertanian
      </p>
    </div>
    <div flex="20">
      <h3 class="md-title">Alamat</h3>
      <p>Jl. M. Alif III No.51 <br>
        Kukusan, Beji, Depok <br>
        Jawa Barat, Indonesia</p>
    </div>
    <div flex="25">
      <h3 class="md-title">
        Kontak Kami
      </h3>
      <p>
        (T) (021) 1233456
      </p>
      <h3 class="md-title">Layanan Pelanggan</h3>
      <p>hello@sinergitani@co.id</p>
    </div>
    <div flex="25">
      <h3 class="md-title">Media Social</h3>
      <div class="social" layout="row" layout-align="space-between center">
        <!--<div>-->
          <!--<a href="#"><md-icon md-svg-src="/assets/icons/facebook-app-logo.svg"></md-icon></a>-->
        <!--</div>-->
        <!--<div>-->
          <!--<a href="#"><md-icon md-svg-src="/assets/icons/twitter-logo-on-black-background.svg"></md-icon></a>-->
        <!--</div>-->
        <!--<div>-->
          <!--<a href="#"><md-icon md-svg-src="/assets/icons/instagram-symbol.svg"></md-icon></a>-->
        <!--</div>-->
        <!--<div>-->
          <!--<a href="#"><md-icon md-svg-src="/assets/icons/youtube-logo.svg"></md-icon></a>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div layout="column" layout-align="center center" flex="80" flex-offset="10">
    <hr style="border-color: black;width: 100%;">
    <h4 class="md-subhead">Copyright &copy; 2016 - All right reserved</h4>
  </div>
</footer>